{% extends "base.html" %}

{% block title %}Login - {{ block.super }}{% endblock %}

{% block page_class %}class="no_slider no_padding"{% endblock %}

{% block main_class %}grid-100{% endblock %}

{% block main %}
<div class="data-list">
	<h2>Login</h2>
	<form method="post" class="contact-form">{% csrf_token %}
		{% if mensagem %}<span class="info">{{ mensagem|safe }}</span>{% endif %}
		<span class="info">Informe seus dados abaixo:</span>
			{{ form.as_p }}
		<td><input type="submit" class="button blue" value="Enviar" /></td>
	</form>
</div>
{% endblock %}